@using CarInsurance.Models
@model Insuree


<div class="card m-5 w-50 p-3 bg-light shadow-sm">
  <div class="card-body text-center">
    <h2 class="p-3">Hi, @Model.FirstName.</h2> 
    <h3>Your quote is $@Model.Quote per month.</h3>
  </div>
</div>
